<div class="container">
    <h1 class="text-center">Hi!</h1>
    <hr />

    <div class="row mt-3">
        <div class="col-md">
            <partial name="Register"></partial>
        </div>
        <div class="col-md">
            <partial name="Login"></partial>
        </div>
    </div>
</div>